@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@layer utilities {
  .no-scrollbar::-webkit-scrollbar { display: none; }
  .no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
}

@keyframes custom-shake {
  0%, 75%, 100% {
    transform: scale(1) rotate(0deg);
  }
  77.5%, 82.5%, 87.5%, 92.5%, 97.5% {
    transform: scale(1.1) rotate(-4deg);
  }
  80%, 85%, 90%, 95% {
    transform: scale(1.1) rotate(4deg);
  }
}

.animate-shake {
  animation: custom-shake 4s infinite ease-in-out;
}